*{ /* Configurações globais das CSS  */
    height: 100%;
}
body{
    background-image: linear-gradient(90deg, hsl(160, 100%, 68%) 25%, hsl(27, 100%, 50%) 50%, hsl(278, 100%, 50%) 100%);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}