div.bloco{
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    background-image: url(Img/wallpaper003.jpg);
}

div#position-1{
    background-position: left top;
}
div#position-2{
    background-position: right top;
}
div#position-3{
    background-position: left bottom;
}
div#position-4{
    background-position: right bottom;
}
div#position-5{
    background-position: center center;
}